{% extends "base.html.twig" %}

{% block body %}
    <h1>Hello!</h1><br />

    {# {% trans %} tags #}
    <h2>{% trans %}
        i am translated text
        {% endtrans %}</h2> <br />

    {# non-existing token #}
    <h2>{{ "this is a non-existing token" | trans({}, "messages", 'lt') }}</h2><br />

    {# forcing the language #}
    <h2>{{ "translated.token" | trans({}, "messages", 'lt') }}</h2><br />

    {# passing the parameter #}
    <span>{{ "product.is.very.good" | trans({'%title%' : 'Iphone X'}) | raw }}</span><br />

{% endblock %}
